<h1>All The News Scraper</h1>

<h2>Scraping News Today!</h2>
 
<h3>Articles</h3>

<ul>
  {{#each articles}}
    {{#unless this.sleepy}}
      <li>
        {{this.title}}
        {{this.link}}  
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h3>Notes</h3>

<ul>
  {{#each notes}}
    {{#if this.sleepy}}
      <li>
        {{this.title}} 
        {{this.body}}           
      </li>
    {{/if}}
  {{/each}}
</ul>


      
      